// Purpose: the scss file for any variations unique to blog.html //

@import "../index";

// Commence scss styling //

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: $font2;
  span {
    color: $color5;
  }
}

main {
  h3 {
    margin-top: -15px;
    margin-bottom: -5px;
    color: $color5;
  }

  .blog-image {
    display: none;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 2%;
    border-bottom: 2px solid $color2;
  }

  button {
    width: 180px;
    background-color: $color2;
    border: none;
    text-align: center;
    font-family: $font2;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
    box-shadow: 5px 5px $color3;
  }

  button a {
    text-decoration: none;
    color: $color5;
    font-weight: bold;
    font-size: 20px;
  }

  button:hover {
    transform: scale(1.2);
  }
}

// changes for tablet-sized screens and above //

@media screen and (min-width: $medium) {
  h1 {
    font-size: 4rem;
  }

  main {
    .post {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }

    .blog-image {
      display: inline-flex;
      flex-direction: row;
      width: 45%;
      img {
        max-width: 300px;
        box-shadow: 10px 10px $color3;
      }
    }

    article {
      display: inline-flex;
      width: 45%;
      margin: 20px;
      border: none;
    }
  }
}

// changes for computer-sized screens and above //

@media screen and (min-width: $large) {
  h1 {
    font-size: 5rem;
  }

  main {
    width: 80vw;
    display: block;
    margin: auto;
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    .blog-image {
      img {
        min-width: 300px;
        max-width: 600px;
      }
    }
  }
}
