/* Purpose: the scss file for any variations unique to blog.html */

@import "../index";

/* Commence scss styling */

main {
  h1 {
    @include page-head();
    @include keywords();
  }

  h3 {
    margin-top: -15px;
    margin-bottom: -5px;
    color: $color5;
  }

  .blog-image {
    display: none;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 2%;
    border-bottom: 2px solid $color2;

    p {
      font-size: 0.9rem;
    }
  }

  button {
    width: 180px;
    @include square-button();
    margin-bottom: 20px;
  }

  button:hover {
    @include button-hover();
  }
}

/* changes for tablet-sized screens and above */

@media screen and (min-width: $medium) {
  main {
    .post {
      @include flex-row-center();
      margin: 20px;
    }

    .blog-image {
     @include inline-flex-row();
      width: 45%;

      img {
        max-width: 300px;
        @include shadow-10();
      }
    }

    button {
      margin-bottom: 0;
    }

    article {
      display: inline-flex;
      width: 45%;
      margin: 20px;
      border: none;
    }
  }
}

/* changes for computer-sized screens and above */

@media screen and (min-width: $large) {
  main {
    width: 80vw;
    display: block;
    margin: auto;

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    article {
      p {
        font-size: 1rem;
      }
    }

    .blog-image {
      img {
        width: clamp(300px, 100%, 600px);
      }
    }
  }
}