/* Import default partial scss files */
/* Create mixins */
/* Styling for header and navbar */
header {
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  margin-left: 10px;
  height: 50px;
  width: 50px;
  transition: 0.7s;
}
header .logo:hover {
  opacity: 50%;
  transform: rotate(35deg);
}
header .name {
  display: none;
  flex-direction: row;
  font-family: "Sora", serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 20px;
  position: relative;
  top: -10px;
}
header .menuButton {
  background: transparent;
  border: none !important;
  z-index: 100;
  margin: auto;
  width: 100%;
}
header .menuButton .hamburgericon {
  max-width: 50px;
  width: 100%;
  margin: auto;
}
header .menuButton .hamburgericon:hover {
  opacity: 50%;
  cursor: pointer;
}

nav {
  width: 40%;
  margin-right: 20px;
  font-family: "Sora", serif;
  font-weight: bold;
  color: #3C493F;
  text-decoration: none;
  font-size: 1.3rem;
}
nav .navlink {
  font-family: "Sora", serif;
  font-weight: bold;
  color: #3C493F;
  text-decoration: none;
  font-size: 1.3rem;
  transition-duration: 0.5s;
  width: 100%;
  padding: 15px 0;
  margin: auto;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: transparent;
}
nav .navlink:hover {
  background-color: #A2E3C4;
  cursor: pointer;
  opacity: 70%;
}
nav .menuButton {
  display: flex;
}
nav .mobile-closed {
  display: none;
  background-color: #7E8D85;
  opacity: 90%;
  border-radius: 20px;
  width: 40vw;
}
nav .show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

@media screen and (min-width: 768px) {
  header .name {
    display: inline-flex;
  }
  nav {
    width: 30%;
  }
  nav .mobile-closed {
    width: 30vw;
  }
}
@media screen and (min-width: 992px) {
  nav {
    width: 30%;
  }
  nav .menuButton {
    display: none;
  }
  nav .mobile-closed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
  }
  nav .navlink {
    padding: 15px;
    background-color: transparent;
  }
  nav .navlink:hover {
    transform: translate(0, -5px);
  }
}
@media screen and (min-width: 1200px) {
  nav .mobile-closed {
    margin-right: 2vw;
  }
}
@media screen and (min-width: 1400px) {
  nav .mobile-closed {
    margin-right: auto;
  }
}
/* Create mixins */
footer {
  font-size: 10px;
  font-style: italic;
  padding: 5px;
  margin-top: 10px;
  width: 97%;
  text-align: right;
  min-height: 3vh;
}

/* Commence scss styling */
html {
  font-family: "Sora", serif;
  color: #3C493F;
  background-color: #F0F7F4;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Sora", serif;
}
h1 span {
  color: #A2E3C4;
}

main {
  justify-content: center;
  align-items: center;
}
main .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .portfolio .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(250px, 80vw, 400px);
}
main .portfolio .project img {
  display: block;
  width: clamp(250px, 100%, 400px);
  box-shadow: 10px 10px #B3BFB8;
  margin-top: 10px;
  border: 3px solid #3C493F;
  transition: 0.5s ease;
}
main .portfolio .project img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
main .portfolio .project h3 {
  font-size: 1.5rem;
  color: #7E8D85;
  margin-bottom: -10px;
}
main .portfolio .project p {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  main .project {
    width: clamp(350px, 70vw, 500px);
  }
  main .project img {
    width: clamp(350px, 100%, 500px);
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  main .portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .portfolio .project {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
}/*# sourceMappingURL=portfolio.css.map */