// Purpose: the scss file for any variations unique to portfolio.html //

@import "../index";

// Commence scss styling //


h1 {
  text-align: center;
  font-size: 3rem;
  font-family: $font2;
  span {
    color: $color5;
  }
}

main {
  justify-content: center;
  align-items: center;
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: clamp(250px, 80vw, 400px);
      img {
        display: block;
        width: clamp(250px, 100%, 400px);
        box-shadow: 10px 10px $color3;
        margin-top: 10px;
        border: 3px solid $color1;
        transition: 0.5s ease;
      }
      img:hover {
        transform: scale(1.1);
        opacity: 0.7;
      }
      h3 {
        font-size: 1.5rem;
        color: $color2;
        margin-bottom: -10px;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

// changes for tablet-sized screens and above //

@media screen and (min-width: $medium) {
  h1 {
    font-size: 4rem;
  }

  main {
    .project {
      width: clamp(350px, 70vw, 500px);
      img {
        width: clamp(350px, 100%, 500px);
      }
    }
  }
}

// changes for computer-sized screens and above //

@media screen and (min-width: $large) {
  h1 {
    font-size: 5rem;
  }

  main {

    .portfolio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .project {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
      }
    }
  }
}
